@charset "UTF-8";
body {
  background-color: #D7CEC7;
  overflow-x: hidden;
}

.body-index {
  background-color: black;
}

.h1 {
  color: white;
  text-shadow: #000000 2px 2px 1px;
  font-size: 2.5rem;
  position: fixed;
  display: flex;
  justify-content: center;
  display: flex;
  margin: none;
  background-color: rgba(0, 0, 0, 0.486);
}

/* EXTENDS */
.info-contacto {
  display: flex;
  position: relative;
}

footer .img-redes {
  height: 3.8rem;
  width: auto;
}

.img-locales {
  border: 0.1rem solid black;
  box-shadow: black 0rem 0rem 0.4rem;
}

.img-logos-redes {
  height: 10rem;
  width: auto;
  margin-bottom: 10rem;
  margin-top: 2rem;
}

.info-contacto {
  font-size: 2.3rem;
  top: 5rem;
  right: 36rem;
  font-weight: bold;
}

.info-contacto-contacto {
  margin-top: 5rem;
}

.preguntas-margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.input-margin {
  margin-bottom: 3rem;
}

.center-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.margins {
  margin-top: 2rem;
}

.ultra-margin {
  margin-top: 5rem;
}

.img-size {
  width: 15rem;
}

.img-size-2 {
  width: 10rem;
  position: relative;
  left: 2rem;
  top: 1rem;
}

.formu-text {
  font-size: 2rem;
}

.formulario-clase {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.margins-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bolder-txt {
  font-weight: bolder;
}

.h2-carta-contactanos {
  margin-top: 8rem;
  font-size: 5rem;
  font-family: "Otomanopee One", sans-serif;
  display: flex;
  justify-content: center;
}

/* EXTENDS */
.info-contacto {
  display: flex;
  position: relative;
}

footer .img-redes {
  height: 3.8rem;
  width: auto;
}

.img-locales {
  border: 0.1rem solid black;
  box-shadow: black 0rem 0rem 0.4rem;
}

footer {
  height: auto;
  background-color: #C09F80;
  border-top: black solid 0.01rem;
}
footer .redes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}
footer .decoration-none {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #565656;
}
footer .decoration-none:hover {
  color: black;
}
footer .img-redes {
  transition: all 0.6s;
  margin: 1.6rem;
  margin-top: 2rem;
}
footer .img-redes:hover {
  transform: scale(1.3);
}
footer .text-size {
  font-family: "PT Serif", serif;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
}
footer .derechos {
  font-family: "PT Serif", serif;
  display: flex;
  justify-content: center;
  font-weight: bold;
  display: flex;
  margin-top: 4rem;
}
footer .logo-wpp {
  position: fixed;
  bottom: 5px;
  right: 5px;
  height: 10rem;
  width: 10rem;
}

header {
  z-index: 10000;
  width: 100%;
  background-color: #C09F80;
  box-shadow: 0rem 0rem 1rem;
}
header .navbar {
  position: relative;
  top: 5rem;
}
header .nav-link {
  font-family: "Otomanopee One", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  transition: 0.5s;
  margin: 1rem;
}
header .nav-link:hover {
  background-color: #D7CEC7;
}
header .logoLuiyi {
  height: 13rem;
  width: auto;
  border: 0.5rem solid #C09F80;
  z-index: 3;
}
header .h1 {
  font-family: "Otomanopee One", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem- 10px */
  overflow-x: hidden;
}

/* EXTENDS */
.info-contacto {
  display: flex;
  position: relative;
}

footer .img-redes {
  height: 3.8rem;
  width: auto;
}

.img-locales {
  border: 0.1rem solid black;
  box-shadow: black 0rem 0rem 0.4rem;
}

.img-locales {
  height: 30rem;
  width: 40rem;
  margin: 5rem;
}

.text-direcciones {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.2rem;
  color: white;
  position: relative;
  left: 5rem;
  text-align: center;
  background-color: black;
}

.h2-carta-locales {
  margin-top: 7rem;
  font-size: 5rem;
  font-family: "Otomanopee One", sans-serif;
}

.video-1 {
  height: 40rem;
  width: auto;
  margin-top: 9rem;
}

.mucho-texto {
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 2.5rem;
}

.size-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.8rem;
}

.marginn {
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.right-margin {
  margin-right: 4rem;
}

.mx-heigth {
  max-height: 18rem;
}

.margin-bot {
  margin-bottom: 7rem;
}

.h2-carta-nosotros {
  margin-top: 8rem;
  font-size: 5rem;
  font-family: "Otomanopee One", sans-serif;
}

.index-0 {
  z-index: 1;
}

.tamaño-imagen {
  height: auto;
  width: auto;
}

.margin-top {
  margin-top: 7rem;
}

.images-promociones {
  max-height: 48rem;
}

.text-promociones-size {
  font-size: 1.7rem;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}

.h2-carta-promociones {
  margin-top: 7rem;
  font-size: 5rem;
  font-family: "Otomanopee One", sans-serif;
}

@media screen and (max-width: 576px) {
  /* index-Style */
  .responsive {
    position: relative;
    left: 1rem;
  }

  .decoration-none {
    font-size: 1rem;
  }

  .logo-wpp {
    display: none;
  }

  .img-redes {
    height: 1.5rem;
    width: 1.5rem;
  }

  .text-size {
    font-size: 1rem;
  }

  .navbar {
    position: relative;
    top: 0rem !important;
  }

  .h1 {
    background-color: black;
    z-index: 1000;
    font-size: 1.5rem;
    position: fixed;
    right: 0rem;
  }

  /* Carta-Style */
  .h2-carta {
    position: relative;
    left: 9rem;
  }

  /* Locales-Style */
  .text-direcciones {
    max-width: 40rem;
  }

  .responsive {
    display: flex;
    justify-content: center;
    position: relative;
    right: 10rem;
  }

  .h2-carta-locales {
    position: relative;
    left: 1rem;
  }

  /* Promociones-Style */
  /* Contactanos-Style */
  .img-size-2 {
    width: 9rem;
  }

  .img-size {
    width: 14rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  /* index-style */
  .h1 {
    background-color: black;
    z-index: 1000;
    font-size: 1.5rem;
    position: fixed;
    right: 0rem;
  }

  .navbar {
    position: relative;
    top: 0rem !important;
  }

  .logo-wpp {
    display: none;
  }

  .responsive {
    display: flex;
    justify-content: center;
  }

  .text-size {
    font-size: 1.3rem;
  }

  .img-redes {
    height: 3rem;
    width: 3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .h1 {
    background-color: black;
    z-index: 1000;
    font-size: 1.5rem;
    position: fixed;
    right: 0rem;
  }

  .navbar {
    position: relative;
    top: 0rem !important;
  }

  .logo-wpp {
    display: none;
  }

  .responsive {
    display: flex;
    justify-content: center;
  }

  .img-locales {
    width: 50rem;
    height: auto;
  }

  .text-size {
    font-size: 1.7rem;
  }

  .img-redes {
    height: 3rem;
    width: 3rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .h1 {
    z-index: 1000;
    position: absolute;
    top: 0rem;
  }

  .text-size {
    font-size: 1rem;
  }

  .img-redes {
    height: 2rem;
    width: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .h1 {
    z-index: 1000;
    position: absolute;
    top: 0rem;
  }

  .text-size {
    font-size: 1.2rem;
  }

  .img-redes {
    height: 2.3rem;
    width: 2.3rem;
  }
}
.body-error404 {
  background-color: #a2a2a3;
}

.mainbox {
  background-color: #a2a2a3;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.err {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

.err2 {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 68%;
  top: 8%;
}

.msg {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

.msg-inicio {
  text-decoration: none;
  color: white;
}

.msg-inicio:hover {
  text-decoration: underline;
}

.carta-margin-right {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.h2-carta {
  margin-top: 7rem;
  font-size: 5rem;
  font-family: "Otomanopee One", sans-serif;
}

.h3-carta {
  margin-top: 8rem;
  font-size: 3rem;
  font-family: "Otomanopee One", sans-serif;
}

.style-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
  align-content: center;
  background-color: #c2bbbb;
}

.image-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.max-width {
  max-height: 17rem;
  max-width: 20rem;
  display: flex;
  justify-content: center;
}

.negrita {
  font-weight: bolder;
}

/*# sourceMappingURL=style.css.map */
