.carta-margin-right { 
margin-right: 2rem;
margin-bottom: 2rem;
}

.h2-carta { 
    margin-top: 7rem;
}

.h3-carta { 
    margin-top: 3rem;
}

.style-text { 
    font-size: 2rem;
    align-content: center;

}

.image-center { 
    display: flex;
    justify-content: center;
    align-content: center;
}

.max-width { 
    max-height: 17rem;
    max-width: 20rem;
    display: flex;
    justify-content: center;
}

.negrita {
    font-weight: bolder;
}
