.carta-margin-right { 
margin-right: 2rem;
margin-bottom: 2rem;
}

.h2-carta { 
    margin-top: 7rem;
    font-size: 5rem;
    font-family: 'Otomanopee One', sans-serif;
}

.h3-carta { 
    margin-top: 8rem;
    font-size: 3rem;
    font-family: 'Otomanopee One', sans-serif;
}

.style-text { 
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    align-content: center;
    background-color: rgb(194, 187, 187);

}

.image-center { 
    display: flex;
    justify-content: center;
    align-content: center;
}

.max-width { 
    max-height: 17rem;
    max-width: 20rem;
    display: flex;
    justify-content: center;
}

.negrita {
    font-weight: bolder;
}
