@import '../base/listMaps'; 
@import '../base/extends';
@import '../base/mixin';

.img-logos-redes { 
    @include imagen (10rem, auto);
    margin-bottom: 10rem;
    margin-top: 2rem;
}

.info-contacto { 
    font-size: map-get($fontSize, fontTitles);
    @extend %flexBox; 
    top: 5rem;
    right:36rem;
    font-weight: bold;
}

.info-contacto-contacto { 
    margin-top: 5rem;
}

.preguntas-margin { 
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.input-margin { 
    margin-bottom: 3rem;
}

.center-text { 
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.margins {
    margin-top: 2rem;
}

.ultra-margin { 
    margin-top: 5rem;
}

.img-size { 
    width: 15rem;
}

.img-size-2 { 
    width: 10rem;
    position: relative;
    left: 2rem;
    top: 1rem;
}