@import '../base/mixin';

.video-1 { 
    @include imagen (40rem, auto); 
    margin-top: 9rem;
}

.mucho-texto { 
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

.size-text { 
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.8rem;
}

.marginn { 
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.right-margin {
    margin-right: 4rem;
}

.mx-heigth { 
    max-height: 18rem;
}

.margin-bot { 
    margin-bottom: 7rem;
}

.h2-carta-nosotros {
    margin-top: 8rem;
    font-size: 5rem;
    font-family: 'Otomanopee One', sans-serif;
}