@import '../base/mixin';

.video-1 { 
    @include imagen (35rem, auto); 
    margin-top: 5rem;
}

.mucho-texto { 
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.size-text { 
    font-size: 1.8rem;
}

.marginn { 
    margin-top: 2rem;
    margin-bottom: 7rem;
}

.right-margin {
    margin-right: 2rem;
}

.mx-heigth { 
    max-height: 18rem;
}