@import '../base/mixin';

.index-0 { 
    z-index: 1;
}

.tamaño-imagen {
    @include imagen (auto, auto); 
}

.margin-top { 
    margin-top: 7rem;
}

.images-promociones {
    max-height:48rem;
    
}

.text-promociones-size { 
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

.h2-carta-promociones { 
    margin-top: 7rem;
    font-size: 5rem;
    font-family: 'Otomanopee One', sans-serif;
}
