@import '../base/mixin';

.index-0 { 
    z-index: 1;
}

.tamaño-imagen {
    @include imagen (auto, auto); 
}

.margin-top { 
    margin-top: 7rem;
}

.images-promociones {
    max-height:48rem;
}

.text-promociones-size { 
    font-size: 1.5rem;
    text-align: center;
}