$titles: ( 
    font-size: 1px
);

$colors: (
color1: #cec3af, 
color2: black, 
color3:rgba(78, 78, 78, 0.479), 
color4:#afa186, 
color5: #c0b8a6fd, 
color6:white, 

);

$fontSize: (
    fontHeader: 2.5rem,
    fontTitles: 2.3rem, 
    fontAdress: 2.2rem,
    fontFooter: 1.7rem,
);

